<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.Interface.dagnInterface">
    <!-- 전체 select -->
    <select id="list" resultType="com.dagn.member.dagnMember">
        select * from Dagn;
    </select>

    <!--조건 select -->
    <select id="dagnSelect" parameterType="java.util.Map" resultType="com.dagn.member.dagnMember">
        SELECT * FROM Dagn
        WHERE(Dagn_user_id LIKE CONCAT('%', #{keyword}, '%') AND #{searchType} = 'Dagn_user_id')
        OR (Dagn_title LIKE CONCAT('%', #{keyword}, '%') AND #{searchType} = 'Dagn_title')
    </select>

    <!-- dagnInsert -->
<!--    <insert id="dagnInsert" parameterType="com.dagn.member.dagnMember">-->
<!--        insert into Dagn values(#{Dagn_user_id}, #{Dagn_title}, #{Dagn_create_date}, #{Dagn_modified_date})-->
<!--    </insert>-->
    <insert id="dagnInsert" parameterType="com.dagn.member.dagnMember">
        <choose>
            <when test="imageFile != null">
                insert into Dagn (Dagn_user_id, Dagn_title, Dagn_create_date, Dagn_modified_date, imageFile)
                values (#{Dagn_user_id}, #{Dagn_title}, #{Dagn_create_date}, #{Dagn_modified_date}, #{imageFile})
            </when>
            <otherwise>
                insert into Dagn (Dagn_user_id, Dagn_title, Dagn_create_date, Dagn_modified_date, imageFile)
                values (#{Dagn_user_id}, #{Dagn_title}, #{Dagn_create_date}, #{Dagn_modified_date}, null)
            </otherwise>
        </choose>
    </insert>
    <!-- dagnUpdate -->
    <update id="dagnUpdate" parameterType="java.util.Map">
        update Dagn set Dagn_title=#{new_title} where Dagn_user_id=#{user_id}
    </update>
    <!-- <update id="dagnRerange">
        UPDATE Dagn, (SELECT @num := 0) AS num_init
        SET num = (@num := @num + 1);
    </update> -->

    <!-- dagnDelete -->
    <delete id="dagnDelete" parameterType="java.util.Map">
        delete from Dagn where Dagn_title=#{title} and Dagn_user_id=#{user_id};
    </delete>
</mapper>