<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 </title>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>>
<br>
<br>
<br>
<br>
<div class="board_body">
    <div id="login-title">Login MyBoard</div>
    <button id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code'">
        카카오로 로그인하기
    </button>

    <button id="login-id-btn" onclick="location.href='/user/signup'">
        회원 가입하기
    </button>

<!--    <form action="/user/login" method="post">-->
        <div class="login-id-label">아이디</div>
        <input type="text" id="user_id" name="user_id" class="login-input-box">

        <div class="login-id-label">비밀번호</div>
        <input type="password" id="user_password" name="user_password" class="login-input-box">

        <div class="login-id-label">비밀번호 확인</div>
        <input type="password" id="check_password" name="check_password" class="login-input-box">

        <button id="login-id-submit" onclick="btn_signin()" >로그인</button>
<!--    </form>-->
    <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
</div>
<script type="text/javascript">
    function btn_signin() {
        var param = {
            "user_id" : $('#user_id').val(),
            "user_password" : $('#user_password').val(),
            "check_password" : $('#check_password').val()
        };

        $.ajax({
            async: true,
            type : 'POST',
            data: param,
            cache: false,
            url : "/user/loginclick",
            dataType : "json",

            success : function(data) {
                if (data === false) {
                    alert("비밀번호가 서로 일치하지 않습니다. 다시 입력하세요.");
                } else {
                    alert("로그인이 완료되었습니다. ");
                }
            },
            error : function(error) {
                alert("error : " + error);
            }
        });
    }

</script>
</body>
</html>