<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고거래 게시글 수정창</title>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>
<div class="board_body">
    <div class="board_title">
        <h1>중고거래</h1>
        <h3>중고거래 게시글 수정창 입니다. </h3>
    </div>
    <div class="input_text" >
        <div class="out_num">
            <td>게시글번호</td>
            <td th:text="${dto.getNum()}">
        </div>
        <div class="out_id">
            <td>작성자</td>
            <td th:text="${dto.getId()}">
        </div>

        <form id="registerForm"  autocomplete="off" action="/dagnUpdate_Obj" method="post">
            <div class="update_group fl">
                <input type="text" id="Dagn_title" name="Dagn_title" placeholder="제목 수정: "/>
                <input type="submit" value="전송">
            </div>
        </form>

        <div class="out_cdates">
            <td>게시글 생성날짜</td>
            <td th:text="${dto.getCreate_date()}">
        </div>

        <div class="out_mdates">
            <td>게시글 마지막 수정 날짜</td>
            <td th:text="${dto.getModified_date()}">
        </div>
    </div>
</div>
</body>
</html>