<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고거래 게시글 등록창</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">중고거래</h1>
                <p class="lead text-body-secondary">중고거래 게시글 검색 결과입니다.</p>
                <p class="lead text-body-secondary">새로운 제목으로 수정해보세요.</p>
            </div>
        </div>
    </section>
</main>
<div class="album py-5 bg-body-tertiary">
        <div class="out_id">
            <table>
                <tr>
                    <td>작성자</td>
                    <td th:text="${dto.getId()}"></td>
                    <input type="hidden" id="user_id" name="user_id" th:value="${dto.getId()}">
                </tr>
            </table>
        </div>
        <div class="out_title">
            <table>
                <tr>
                    <td>제목</td>
                    <td th:text="${dto.getTitle()}"></td>
                    <input type="hidden" id="old_title" name="old_title" th:value="${dto.getTitle()}">
                </tr>
            </table>
        </div>
        <div class="update_group fl">
            <input type="text" id="new_title" name="new_title" placeholder="제목 수정: "/>
            <button type="button" id="updateButton" onclick="sendNewTitle()">변경</button>
        </div>
        <div class="out_image">
            <table>
                <tr>
                    <img class="bd-placeholder-img card-img-top" th:if="${dto.getImageName()}" th:src="@{'https://storage.googleapis.com/bikes_web/' + ${dto.getImageName()}}" alt=width="1%" height="225">
                    <img class="bd-placeholder-img card-img-top" th:unless="${dto.getImageName()}" th:src="@{'https://storage.googleapis.com/bikes_web/no_image.png'}" alt=width="10%" height="225">
                </tr>
            </table>
        </div>
    <div class="out_cdates">
        <td>게시글 생성날짜</td>
        <td th:text="${dto.getCreate_date()}">
    </div>

    <div class="out_mdates">
        <td>게시글 마지막 수정 날짜</td>
        <td th:text="${dto.getModified_date()}">
    </div>
</div>
<script type="text/javascript">
    function sendNewTitle() {
        var param = {
            "user_id": document.getElementById('user_id').value,
            "old_title": document.getElementById('old_title').value,
            "new_title": document.getElementById('new_title').value
        };

        $.ajax({
            async: true,
            type : 'POST',
            data: param,
            cache: false,
            url : "/api/dagnUpdate_Obj",
            dataType : "json",

            success: function(response) {
                if (response === true) {
                    alert("성공적으로 게시글이 변경되었습니다.");
                } else {
                    alert("게시글 등록에 실패했습니다.");
                }
                window.location.href = "/dagnList";

            },
            error: function(error) {
                alert("error: " + error);
            }
        });
    }
</script>
<hr class="featurette-divider">
</body>
</html>