<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고거래 게시글 등록창</title>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>
<main>
    <section class="py-5 text-center container">
    </section>
</main>
<div class="board_body">
    <div class="board_title">
        <h1>중고거래</h1>
        <h3>중고거래 게시글 검색 내용입니다. </h3>
    </div>
    <form id="updateForm"  autocomplete="off" action="/dagnUpdate_Obj" method="post">
        <div class="out_id">
            <table>
                <tr>
                    <td>작성자</td>
                    <td th:text="${dto.getId()}"></td>
                    <input type="hidden" name="user_id" th:value="${dto.getId()}">
                </tr>
            </table>
        </div>
        <div class="out_title">
            <table>
                <tr>
                    <td>제목</td>
                    <td th:text="${dto.getTitle()}"></td>
                    <input type="hidden" name="old_title" th:value="${dto.getTitle()}">
                </tr>
            </table>
        </div>
        <!--제목수정-->
        <div class="update_group fl">
            <input type="text" name="new_title" placeholder="제목 수정: "/>
            <button onclick="sendNewTitle()">전송</button>
        </div>
    </form>
    <div class="out_cdates">
        <td>게시글 생성날짜</td>
        <td th:text="${dto.getCreate_date()}">
    </div>

    <div class="out_mdates">
        <td>게시글 마지막 수정 날짜</td>
        <td th:text="${dto.getModified_date()}">
    </div>
</div>
<script type="text/javascript">
    function sendNewTitle() {
        var param = {
            "user_id" : $('#user_id').val(),
            "old_title" : $('#old_title').val(),
            "new_title" : $('#new_title').val()
        };
        $.ajax({
            async: true,
            type : 'POST',
            data: param,
            cache: false,
            url : "/dagnUpdate_Obj",
            dataType : "json"
        });
    }
</script>
</body>
</html>