<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/webjars/jquery/3.5.1/dist/jquery.min.js"></script>
    <title>중고거래 게시글</title>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">중고거래</h1>
                <p class="lead text-body-secondary">현재 게시된 중고거래 내용입니다.</p>
            </div>
        </div>
    </section>
</main>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="bt_wrap">
            <a href="/dagnRegister" class="w-10 btn btn-primary btn-lg">게시글 작성하기</a>
        </div>
        <br>
        <form id="searchForm" autocomplete="off" action="/search" method="post">
            <div class="sch_group fl">
                <select id="searchType" name="searchType" title="검색 유형 선택">
                    <option value="Dagn_title">제목</option>
                    <option value="Dagn_user_id">작성자</option>
                </select>
                <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
                <button type="submit">전송</button>
            </div>
        </form>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div th:each="dao, iterStat:${list}" class="col">
                <div class="card shadow-sm">
                    <!--이미지 삽입-->
                    <img class="bd-placeholder-img card-img-top" th:if="${dao.getImageName()}" th:src="@{'https://storage.googleapis.com/bikes_web/' + ${dao.getImageName()}}" alt=width="100%" height="225">
                    <img class="bd-placeholder-img card-img-top" th:unless="${dao.getImageName()}" th:src="@{'https://storage.googleapis.com/bikes_web/no_image.png'}" alt=width="100%" height="225">
                    <div class="card-body">
                        <table class="row mb-4 text-center">
                            <ul class="list-unstyled mt-3 mb-4">
                                    <li><p class="card-text">
                                        작성자 ID:
                                        <span th:id="Dagn_user_id"
                                              th:text="${dao.getId()}"></span>
                                    </p></li>

                                    <li><p class="card-text">
                                        제목:
                                        <a th:href="@{/dagnContents/{title}(title=${dao.getTitle()})}"
                                           th:text="${dao.getTitle()}"></a>
                                    </p></li>

                                    <li><p class="card-text">
                                        작성일:
                                        <span th:id="create_date"
                                              th:text="${dao.getCreate_date()}"></span>
                                    </p></li>

                                    <li><p class="card-text">
                                        생성일:
                                        <span th:id="modified_date"
                                              th:text="${dao.getModified_date()}"></span>
                                    </p></li>
                                    <br>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="'window.location.href= \''+@{/dagnContents/{title}(title=${dao.getTitle()})} + '\''">수정</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="'window.location.href= \''+@{/dagnDelete/{title}(title=${dao.getTitle()})} + '\''">삭제</button>
                                    </div>
                            </ul>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <a href="#" class="bt first"> << </a>
    <a href="#" class="bt before"> < </a>
    <a href="#" class="bt num"> 1 </a>
    <a href="#" class="bt num"> 2 </a>
    <a href="#" class="bt num"> 3 </a>
    <a href="#" class="bt num"> 4 </a>
    <a href="#" class="bt num"> 5 </a>
    <a href="#" class="bt after"> > </a>
    <a href="#" class="bt last"> >> </a>
</div>
</body>
</html>
