<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/product.css" rel="stylesheet">
    <title>중고거래 게시글 등록창</title>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>>
<div class="board_body">
    <div class="board_title">
        <h1>중고거래</h1>
        <h3>중고거래 게시글 검색 내용입니다. </h3>
    </div>

    <form id="Form"  autocomplete="off" action="/dagnUpdate" method="post">
        <input type="submit" value="수정">
    </form>
    <form id="deleteForm"  autocomplete="off" action="/dagnDelete" method="post">
        <input type="submit" value="삭제">
    </form>
    <div class="out_num">
        <td>게시글번호</td>
        <td th:text="${dto.getNum()}">
    </div>
    <div class="out_id">
        <td>작성자</td>
        <td th:text="${dto.getId()}">
    </div>

    <div class="out_title">
        <td>제목</td>
        <td th:text="${dto.getTitle()}">
    </div>

    <div class="out_cdates">
        <td>게시글 생성날짜</td>
        <td th:text="${dto.getCreate_date()}">
    </div>

    <div class="out_mdates">
        <td>게시글 마지막 수정 날짜</td>
        <td th:text="${dto.getModified_date()}">
    </div>
</div>
</body>
</html>