<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/webjars/jquery/3.5.1/dist/jquery.min.js"></script>
    <title>중고거래 게시글</title>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>
<div class="board_title">
    <h1>중고거래</h1>
    <h3>현재 게시된 중고거래 내용입니다.</h3>
</div>
<div class="input_text" >
    <div class="bt_wrap">
        <a href="/dagnRegister" class="on">게시글 작성하기</a>
    </div>
    <form id="searchForm"  autocomplete="off" action="/search" method="post">
        <div class="sch_group fl">
            <select id="searchType" name="searchType" title="검색 유형 선택">
                <!-- <option value="whole">전체 검색</option> -->
                <option value="Dagn_title">제목</option>
                <option value="num">게시글 No.</option>
                <option value="Dagn_user_id">작성자</option>
            </select>
            <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
            <input type="submit" value="전송">
            <!-- <button type="button" class="bt_search" onclick="movePage()"><i class="fas fa-search"></i><span class="skip_info">검색</span></button> -->
        </div>
    </form>
</div>
<div class="board_list">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>수정일</th>
    </tr>
    </thead>
    <table class="row mb-4 text-center">
        <tbody id="tb1">
        <tr th:each="dao:${list}">
            <td th:text="${dao.getNum()}"></td>
            <td><a th:href="@{/dagnContents/{title}(title=${dao.getTitle()})}"
                   th:text="${dao.getTitle()}"/>
            </td>
            <td th:text="${dao.getId()}"></td>
            <td th:text="${dao.getCreate_date()}"></td>
            <td th:text="${dao.getModified_date()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="bottom">
        <a href="#" class="bt first"> << </a>
        <a href="#" class="bt before"> < </a>
        <a href="#" class="bt num"> 1 </a>
        <a href="#" class="bt num"> 2 </a>
        <a href="#" class="bt num"> 3 </a>
        <a href="#" class="bt num"> 4 </a>
        <a href="#" class="bt num"> 5 </a>
        <a href="#" class="bt after"> > </a>
        <a href="#" class="bt last"> >> </a>
    </div>
</div>

<!-- <script type="text/javascript">
    function movePage() {
        var param = {
            "searchType" : $('#searchType').val(),
            "keyword" : $('#keyword').val()
        };

        $.ajax({
            url:'/search',
            type: 'post',
            data: param,
            async: 'false',
            cache: false,
            //dataType: 'json',
            success: function(data) {
                console.log(data);
                console.log("sucess");

                $('#tb1').replaceAll(data);
                //window.location.href = "/dagnList";
                //  $('#tb1')..append(`<p>test</p>`);
            },
            error: function(data) {
                console.log("error");
            }
         });
}
</script> -->
</body>
</html>