<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>중고거래 게시글 등록창</title>
  <style>
    .album {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .container {
      max-width: 400px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
    }

    .form-control {
      margin-bottom: 1em;
      width: 100%;
      padding: 5px;
    }

  </style>
</head>
<body>
<header th:replace="~{dagn/common/dagn_head :: dagn_head}"></header>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">중고거래</h1>
        <p class="lead text-body-secondary">중고거래 게시글을 등록하세요.</p>
      </div>
    </div>
  </section>
</main>
<div class="album py-5 bg-body-tertiary">
<!--  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->
  <div class="container">
    <form id="registerForm"  autocomplete="off" action="/dagnInsert" method="POST" enctype="multipart/form-data">
      <div class="col-md-7 col-lg-8">
      <div class="row g-3">
        <div class="col-12">
          <label for="id" class="form-label">작성자</label>
          <input type="text" class="form-control" id="id" name="id" placeholder="ID 입력: "/>
        </div>
        <div class="col-12">
          <label for="id" class="form-label">게시글 제목</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="제목 입력: "/>
        </div>

        <!--이미지 업로드 ui-->
        <div class="col-12">
          <label for="imageFile" class="form-label"><strong>이미지 파일</strong></label>
          <input name="imageFile" type="file" class="custom-file-input" id="imageFile" />
          <div id="previewContainer"></div>
        </div>

        <input type="submit" class="w-100 btn btn-primary btn-lg" value="게시글 등록">
      </div>
      </div>
    </form>
  </div>
</div>
<hr class="featurette-divider">
</body>
<script type="text/javascript">
  // 이미지 파일 선택 시 실행되는 함수
  function handleFileSelect(event) {
    const files = event.target.files; // 선택된 파일 목록

    // 파일을 하나씩 처리
    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();

      // 파일을 읽어들일 때 실행되는 함수
      reader.onload = function (event) {
        const image = document.createElement('img');
        image.src = event.target.result;
        image.className = 'previewImage';

        // 미리보기 컨테이너에 이미지 추가
        document.getElementById('previewContainer').appendChild(image);
      };

      // 파일 읽기 시작
      reader.readAsDataURL(file);
    }
  }
  // input 요소에 change 이벤트 리스너 추가
  document.getElementById('imageFile').addEventListener('change', handleFileSelect);
</script>
</html>