<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<header th:fragment="dagn_head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <!--인덱스 시작-->
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <!--1. 중고 자전거 거래 :: 누르면 중고거래창 이동-->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dagnList">중고 자전거 매물</a>
                    </li>

                    <!--2. 새 자전거 판매 목록 :: 누르면 자전거 판매창 이동-->
                    <!-- <li class="nav-group dropdown"> -->
                    <li class="nav-item"></li>
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        새 자전거 리스트(준비중)
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">메리다</a></li>
                        <li><a class="dropdown-item" href="#">트렉</a></li>
                        <li><a class="dropdown-item" href="#">자이언트</a></li>
                    </ul>
                    </li>
                    <!--3. 자전거 커뮤니티 게시판 :: 누르면 커뮤니티창 이동-->
                    <li class="nav-item">
                        <a class="nav-link" href="community/community.html">커뮤니티(준비중)</a>
                    </li>
                </ul>
                <!--4. 자전거 브랜드 검색 :: 브랜드 검색 시 [2].자전거 판매 목록 조회 결과 이동-->
                <form class="d-flex" id="brandSearchForm" autocomplete="off" action="/" method="post">
                    <input class="form-control me-2" type="text" id="keyword" placeholder="자전거 브랜드 입력" aria-label="자전거 브랜드 입력">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>

                    <button class="btn btn-sm btn-outline-secondary" type="button" th:if="${session.loginMember == null}" onclick="location.href='/user/login'">Login</button>
                    <p th:text="${session.loginMember != null ? '   반가워요! ' + session.loginMember.getUser_id() : ''}" class="text-center" style="color: white;"></p>
                    <button class="btn btn-sm btn-outline-secondary" type="button" th:if="${session.loginMember != null}" onclick="location.href='/user/logout'">Logout</button>
                </form>

            </div>
        </div>
    </nav>
</header>
</html>